@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.container {
  font-family: "Quicksand";
  font-weight: 600;
  display: flex;
  padding: 16px;
  justify-content: space-between;

  .menu {
    display: flex;
    gap: 32px;

    .link {
      font-size: 24px;
      display: flex;
      align-items: center;
      color: bisque;

      &:hover {
        color: gold;
      }
    }

    .center {
      display: flex;
      align-items: center;
      margin: 0 32px;
    }
  }

  .icon {
    width: 36px;
    height: 36px;
    color: bisque;

    &:hover {
      color: aquamarine;
    }
  }
}
